{% extends 'main/about.html' %}
{% block head %}
{%  load static %}
{{ block.super }}
{% endblock head %}
{% block title %} Crypto transaction history {% endblock %}
{% block content %}
    <h2 class="wallet-name">Currency wallet</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Amount</th>
          <th scope="col">Transaction Type</th>
          <th scope="col">Status</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{ transaction.amount }}</td>
              <td> {{ transaction.transaction_type }}</td>
              <td> {{ transaction.status }}</td>
              <td> {{ transaction.date }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}