{% extends 'main/about.html' %}
{% load crispy_forms_tags %}
{% block head %}
    {{ block.super }}
{% endblock head %}
{%  block title %} Transaction finalization {%  endblock title %}
{%  block content %}
    {% if total_currency_transaction_value %}
        <form method="post">
         {% csrf_token %}
        {% crispy form %}
        </form>
    {% elif total_crypto_transaction_value %}
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
    {% endif %}
{% endblock %}
