{%  extends 'main/about.html' %}
{%  load static %}
{% block content %}
<div>
    <h1>Currency name - {{ currency_details.name }}</h1>
    {%  if currency_details.example_file %}
        <div>Download <a href="{{ currency_details.example_file.url }}">file</a> </div>
    {%  endif %}
    {%  if currency_details.image %}
        <img src="{{ currency_details.image }}" alt="Image">
    {%  endif %}
    <img src="{% static 'AvailableCurrencies/img/' %}{{ image_name }}?{{ rand }}" alt="Currency Chart">
</div>
{% endblock %}