{%  extends 'main/about.html' %}
{% block head %}
{%  load static %}
{{ block.super }}
{% endblock head %}
{% block title %} Rate comparison {% endblock %}
{% block content %}
    <style>
        .currency-h3 {
            text-align: center;
        }
    </style>
    <h3 class="currency-h3"> Currency increase/decrease compared to the previous day </h3>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <h3 style="color: green">Increases</h3>
                <ul>
                    {% for currency, diff in difference %}
                        {% if currency.country_code != 'Crypto' %}
                        {% if diff > 0 %}
                            <li class="value-increased">
                                <span class="currency-name">{{ currency.name }}</span> o {{ diff }} $
                            </li>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col">
                <h3 style="color: red">Decreases</h3>
                <ul>
                    {% for currency, diff in difference %}
                        {% if currency.country_code != 'Crypto' %}
                        {% if diff < 0 %}
                            <li class="value-decreased">
                                <span class="currency-name">{{ currency.name }}</span> o {{ diff }} $
                            </li>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="col">
                <h3 style="color: grey;">Unchanged</h3>
                <ul>
                    {% for currency, diff in difference %}
                        {% if currency.country_code != 'Crypto' %}
                        {% if diff == 0 %}
                            <li class="value-same">
                                <span class="currency-name">{{ currency.name }}</span>
                            </li>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}


