{% extends 'main/about.html' %}
{% block title %} News {% endblock %}
{% block content %}
<div class="container overflow-hidden text-center" style="padding-top: 50px">
  <div class="row gy-5">
    {% for currency, fun_fact in currency_news_zip %}
        <div class="col-6">
            <div class="card border-dark mb-3">
              <div class="card-header">
                  <h5>{{ currency }}</h5>
              </div>
              <div class="card-body">
                <p class="card-text">{{ fun_fact }}</p>
              </div>
            </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}