.value-increased {
    color: green;
}

.value-decreased {
    color: red;
}

.value-same {
    color: grey;
}

.currency-name {
    font-size: 1.2em;
    text-decoration: underline;
}

.currency-name-h1 {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.currency-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}